<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0}">
  <div>
    <span style="font-size: 18px; font-weight: bold;">{{ post.title }}</span>
    <span style="float: right; color: darkgrey;">{{ post.created_at | date: 'dd/MM/yyyy, hh:mma' }}</span>
  </div>

  <p>{{ post.content }}</p>
  <button class="btn btn-success"
          (click)="onLoveIt()">Love it !</button>
  <button class="btn btn-danger"
          (click)="onDontLoveIt()">Don't love it !</button>
  <button class="btn btn-danger pull-right"
          (click)="onDeletePost(post)">Supprimer post</button>
</li>


